<h1>Sales Total per Sales Man</h1> <hr />

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger wide-box">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool refresh"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
            <div class="box-body">
                <pie-chart-canvas class="wide-canvas"></pie-chart-canvas>
                <div class="chart-legend" id="legend" align="center"></div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>