<h1>Total 5 Sales Orders</h1> <hr />

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" ng-click="refreshTable('salesOrder')"><i class="fa fa-refresh"></i> </button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Username</th>
                        <th>Value</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in salesOrders">
                        <td>{{ data.orderNum }}</td>
                        <td>{{ data.userName }}</td>
                        <td>{{ data.value }}</td>
                        <td>{{ data.qty }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>